<h1 id="page-title">Products</h1>
<ul id="product-list">
    <li id="item-1">Product 1 <button id="remove-1" data-liveview-function="remove_item" data-id="1" data-action="click->page#run">x</button></li>
    <li id="item-2">Product 2 <button id="remove-2" data-liveview-function="remove_item" data-id="2" data-action="click->page#run">x</button></li>
    <li id="item-3">Product 3 <button id="remove-3" data-liveview-function="remove_item" data-id="3" data-action="click->page#run">x</button></li>
</ul>
